*  {
     margin: 0;
     padding:0; }
p {
    background-color: white;
    padding: 0 0 .5em;
}

blockquote {
    padding: 0 2em;
}

ul {
    padding: 0 0 .25em 1.25em;
}

li {
    padding: 0 0 .35em;
}

.shadow {
    text-shadow: -1px -1px;
    color: #800000;
}
/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 50%;
	margin: 1em auto;
	border: 3px solid #931420;
    background-color: #ffebc6
}




/* the styles for the header */
header {
    margin-bottom: 0;
    border-bottom: 3px solid #931420;
	padding: 1.5em 30px;
	background-image:
	-webkit-linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 40%, #f6bb73 80%, #f6bb73 100%);
    background-image: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 40%, #f6bb73 80%, #f6bb73 100%);
}
header:link {
    font-style: italic;
    margin-top: 0;
    padding-top: 70px;
}

header img {
    float:left;
}

#mobile_menu {
    display: none;
}

#mobile_menu {
    display: block;
}
#nav_menu ul {
    list-style: none;
    position: relative;
    margin: 0%;
    padding: 0;
    float: left;
}
#nav_menu ul li a {
    float: right;
    text-align: center;
    display: block;
    width: 152px;
    padding: 1em 0;
    text-decoration: none;
    background-color: #800000;
    color: white;
    font-weight: bold;
}
#nav_menu ul li {
    float: left;
    color: yellow;
}
#nav_menu ul ul  {
    float: none;
    display: none;
    position: absolute;
    top: 100%;,
}

#nav_menu ul ul li {
    float: none;
}
#nav_menu ul li:hover > ul {
    display: block;
}
#nav_menu > ul::after {
    content: "";
    display: block;
    clear: both;
}
main {
    width: 85%;
    padding: 0 30px;
    background-color: yellow;
}



main h1 {
	font-size: 150%;
	padding: .3em;

}

main h2 {
	font-size: 130%;
	color: #800000;
	padding: .5em;
}

main h3 {
	font-size: 105%;
	padding: 0 0 .25em;
}
main img {
    float: left;
    border: 3px solid black ;
    padding: 0 0 1em;
}

/* the styles for the section */

section {
    width: 70%;
    float: right;
}
section p {
    background-color: #ffebc6
}

section h1  {
    border-bottom: 3px solid #931420;
    margin-top: 2px;
    padding: 0;

}

section h2 {
    margin-bottom: 0;
    padding: 3px;
}
section img {
    margin: 5% 5%;
    width: 55%;
    padding: 0em;
    float: right;
}

article p {
    text-align: left;
    margin: 5px;
    display: ;
    background-color: #ffebc6
}
h2 {
    margin-top:20px;

}
ul.circle {
    list-style-type: circle;
}
aside {
    width: 20%;
    float: left;
}
.image1, .image2, .image3, .image4 {
    padding: 0;
}
/* the styles for the footer */

footer p {
    clear: both;
	background-color: #931420;
	color: white;
	padding: 1em;
}

